#cov-stats {
    max-width: 1200px;
    margin: 120px auto 90px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .card {
        flex: 1 1 302px;
        padding: 20px 10px 20px 10px;
        margin: 10px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px #e3f1fd;
        max-width: 25%;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        
        h4 {
            font-size: 19px;
            color: #2f2f2f;
        }

        img {
            width: 8%;
            margin:4px 10px 4px 11px;
            animation: spin 3s;
            transform: rotate(91deg);
            /*
            @keyframes spin {
                from {transform:rotate(0deg);}
                to {transform:rotate(360deg);}
              } */ 
        }
    }

    .card-content {
        text-align: center;
        display: flex;
        justify-content: space-around;

        h4 {
            font-weight: 500;
            color: #777777;
            text-transform: uppercase;
        }

        div {
            display: flex;
            justify-content: center;
            flex-direction: column;

            span {
                font-size: 18px;
                font-weight: 500;
                color: #3c3c3c;
            }
        }

    }
}

@media(max-width:667px){
    #cov-stats > .card {
        max-width: 80%;
    }
}