#sintomas {
    max-width: 1200px;
    margin: 120px auto 90px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sintomas-info {
    background: #fff;
    padding: 3em 2em 3em 3em;
    border-radius: 8px;
    box-shadow: 0 0 10px #e3f1fd;
    width: 80%;

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #3c3c3c;
        text-transform: uppercase;
    }

    li {
        margin: 20px 20px 23px 20px;
        color: #3e3e3e;
        font-size: 15px;
    }

    li::marker{
        color:#4634a9;
    }
}

@media(max-width:736px){
    .sintomas-info{
        width: 85%;
        padding: 3em 1em 3em 1em;
    }
}